<!-- Header -->

<html>
  <head>
    <link href="css/bootstrap.css" rel='stylesheet'>
    <link href="css/style.css" rel='stylesheet'>
  </head>
  <body>
    <div class="header">
      <div class="container">
        <div class="col-md-2">
          <%= image_tag "logo.png", size: "161x20" %>
        </div>
        <div class="col-md-3">
          <ul class="primary">
            <li>Discover</li>
            <li>Start</li>
          </ul>
        </div>
        <div class="pull-right">
          <ul>
          <% if current_user %>
          Signed in as <strong> <%= current_user.name %></strong>
          </ul>
          <ul>
            <li><%= link_to "Logout", '/logout' %></a></li>
          </ul>
          <% else %>
          <ul>
            <li><%= link_to "Login", '/login' %></a></li>
            <li><%= link_to "Signup", '/signup' %></a></li>
          <% end %>
          </ul>
        </div>
      </div>
    </div>

<!-- End Header --> 


<h1>Edit Project</h1>

<%= render 'form' %>

<%= link_to 'Show', @project, :class => "btn btn-kickstarter btn-sm" %>
<%= link_to 'Back', projects_path, :class => "btn btn-kickstarter btn-sm" %>


<%= render '/shared/footer' %> 