<%= render '/shared/header' %> 

<h1>Edit Project</h1>

<%= render 'form' %>

<%= link_to 'Show', @subject, :class => "btn btn-kickstarter btn-sm" %>
<%= link_to 'Back', subjects_path, :class => "btn btn-kickstarter btn-sm" %>


<%= render '/shared/footer' %> 