<!doctype html>
<html>
  <head>
    <link href="css/bootstrap.css" rel='stylesheet'>
    <link href="css/style.css" rel='stylesheet'>
  </head>
  <body>
    <div class="header">
      <div class="container">
        <div class="col-md-2">
          <%= image_tag "logo.png", size: "161x20" %>
        </div>
        <div class="col-md-3">
          <ul class="primary">
            <li>Discover</li>
            <li>Start</li>
          </ul>
        </div>
        <div class="pull-right">
          <ul>
            <li><a href="">Sign up</a></li>
            <li><a href="">Log in</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="wrap">
      <div class="project-content">
        <div class="container">
          <h1 class="title"><%= @project.title %></h1>
          <p class="author"><%= @project.creator %></p>
          <div class="project-nav">
            <ul>
              <li class="active">Home</li>
              <li>Comments <span class="label label-default"></span></li>
          </div>
          <div class="project-body">
            <div class="row">
              <div class="col-md-8">
                <img class="img-responsive" src=<%=@project.image %>>
                <p class="subheading"></p>
                <h1> <%= @project.title %> </h1>
                <p><%= @project.description %></p>
              </div>
              <div class="col-md-4">
                <div class="stats">
                  <h1><%= number_to_currency(@project.total) %></h1>
                  <h5>pledged of <h5>
                  <h1> <%= number_to_currency(@project.goal) %></h1>
                  <h5>goal<h5>
                  <h1><%= distance_of_time_in_words(Time.now, Time.now + 15.days)%>`</h1>
                  <h5>days to go</h5>
                  <% pledges = @project.rewards %>
                  <% min_pledge = pledges.shift %>
                  <%= link_to(pledge_project_path(@project, amount: min_pledge), class: "btn btn-kickstarter") do %>
                    Back this project
                    <span>$1 minimum pledge</span>
                  <% end %>
                </div>

                <div class="pledges">
                  <% pledges.each do |pledge| %>
                    <br>
                    <%= link_to(pledge_project_path(@project, amount: pledge), class: "btn pledge") do %>
                      <h5>Pledge $<%= pledge %> or more</h5>
                    <% end %>
                  <% end %>
                </div>
            </div>
          </div>
      </div>
    </div>


<%= render '/shared/footer' %>
