<%= render '/shared/header' %>

<p id="notice"><%= notice %></p>

    <div class="wrap">
      <div class="project-content">
        <div class="container">
          <h1 class="title"><%= @project.title %></h1>
          <p class="author"><%= @project.creator %></p>
          <div class="project-nav">
            <ul>
              <li class="active">Home</li>
              <li>Comments <span class="label label-default"></span></li>
          </div>
          <div class="project-body">
            <div class="row">
              <div class="col-md-8">
                <img class="img-responsive" src=<%=@project.image %>>
                <p class="subheading"></p>
                <h1> </h1>
                <p> </p>
              </div>
              <div class="col-md-4">
                <div class="stats">
                  <h1> </h1>
                  <h5>pledged of <h5>
                  <h1> </h1>
                  <h5>goal<h5>
                  <h1> </h1>
                  <h5>days to go</h5>
                  <% pledges = @project.rewards %>
                  <% min_pledge = pledges.shift %>
                  <%= link_to(pledge_project_path(@project, amount: min_pledge), class: "btn btn-kickstarter") do %>
                    Back this project
                    <span>$1 minimum pledge</span>
                  <% end %>
                </div>

                <div class="pledges">
                  <% pledges.each do |pledge| %>
                    <br>
                    <%= link_to(pledge_project_path(@project, amount: pledge), class: "btn pledge") do %>
                      <h5>Pledge $<%= pledge %> or more</h5>
                    <% end %>
                  <% end %>
                </div>
            </div>
          </div>
      </div>
    </div>


<%= render '/shared/footer' %>