<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @project.title %>
</p>

<p>
  <strong>Creator:</strong>
  <%= @project.creator %>
</p>

<p>
  <strong>Image:</strong>
  <%= @project.image %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<ul>
	<% @project.rewards.each do |reward| %>
	<li><a href='/projects/<%= @project.id %>/pledge?amount=<%= reward %>'>Pledge <%= number_to_currency(reward) %></a></li>
	<% end %>
</ul>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
