<%= render '/shared/header' %> 

<br>
<br>
<br>
<br>

<h1>Edit Subject</h1>

<%= render 'form' %>

<%= link_to 'Show', @subject, :class => "btn btn-kickstarter btn-sm" %>
<%= link_to 'Back', subjects_path, :class => "btn btn-kickstarter btn-sm" %>

<br>
<br>
<br>
<br>

<%= render '/shared/footer' %> 